<div class="ui selection dropdown">
    <input name="gender" type="hidden" value="{{page.categoryvalue}}">
    <i class="dropdown icon"></i>
    <div class="default text">Category</div>
    <div class="menu">
        <div class="scrolling menu">
            <a href="{{site.url}}/shop/category/newarrivals" class="item active" data-value="newarrivals">
                <div class="ui red empty circular label"></div>
                New Arrivals
            </a>
            <a href="{{site.url}}/shop/category/sports" class="item" data-value="sports">
                <div class="ui blue empty circular label"></div>
                Sports
            </a>

            <a href="{{site.url}}/shop/category/travel" class="item" data-value="travel">
                <div class="ui black empty circular label"></div>
                Travel
            </a>
        </div>
    </div>
</div>
