<!DOCTYPE html>
<html>

    <head>
        {% include head.html %}
    </head>
    <body class="home-template" itemscope itemtype="http://schema.org/WebPage">
        <header class="notepad-site-head">
            <div class="notepad-site-head-menu">
                <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.url }}/images/logo.png" alt="Blog Logo"/></a>
                <div class="notepad-blog-menu">
                    <div class="notepad-mobile-menu show-for-small">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <ul class="notepad-menu">
                        <li class="notepad-mobile-close-btn show-for-small text-right">
                            <a href="#">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                        {% for link in site.links %}

                            <li>
                                {% if link.external %}
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                {% else %}
                                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

        </header>
        <article class="notepad-content">
            <!-- Main carousel -->
            <div class="notepad-site-head-content">
                <center>
                    <div id="slides" class="owl-carousel">
                        {% if page.heroCarousel %}
                            {% for item in page.heroCarousel%}
                                <div class="lazyOwl">
                                    <img className="ui fluid image" src="{{site.url}}/images/{{item}}.jpg"/>
                                </div>
                                {% endfor%}
                            {% endif %}
                        </div>
                    </center>
                </div>
                <!-- End main carousel -->

                <br>
                <br>
                <br>
                <br>

                <div class="ui container">
                    <div class="ui stackable grid">
                        <div class="six wide column">
                            <div class="info">
                                <h2>Classic & Minimal Designs</h2>
                                <a class="ui secondary button" href="{{site.url}}/shop/home">Soon in stores</a>
                            </div>
                        </div>
                        <div class="ten wide column">
                            <div class="showcaseSlides" class="owl-carousel">
                                {% for design in page.showcaseDesigns %}
                                    <div class="item">
                                        <a href="{{site.url}}/item/{{design}}">
                                            <img class="lazyOwl ui large image centered" data-src="{{site.url}}/images/{{design}}.jpg"/>
                                        </a>
                                    </div>
                                    {% endfor%}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ content }}
            </article>
            <div class="content">
                {% include footer.html %}
                {% include scripts.html %}
                <script>
                    $(document).ready(function () {
                        $(".showcaseSlides").owlCarousel({
                            navigation: true,
                            slideSpeed: 200,
                            paginationSpeed: 800,
                            autoPlay: true,
                            stopOnHover: true,
                            items: 1,
                            lazyLoad: true,
                            itemsTablet: [768, 2]
                        });

                        $("#slides").owlCarousel({
                            navigation: false,
                            slideSpeed: 500,
                            paginationSpeed: 800,
                            singleItem: true,
                            autoPlay: true,
                            itemsTablet: [768, 2]
                        });
                    });
                </script>
            </div>

        </body>
    </html>
</script>
</body>
</html>
