<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body class="post-template page" itemscope itemtype="http://schema.org/WebPage">
        <main id="notepad-page-container" class="notepad-page-container" role="main">
            <header class="notepad-page-header">
                <div class="notepad-page-menu-header">
                    <a class="notepad-blog-logo" href="{{ site.url }}">
                        <img src="{{ site.url }}/images/{{ site.wlogo }}">
                    </a>
                    <div class="notepad-blog-menu">
                        <div class="notepad-mobile-menu show-for-small">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <ul class="notepad-menu">
                            <li class="notepad-mobile-close-btn show-for-small text-right">
                                <a href="#">
                                    <i class="fa fa-times"></i>
                                </a>
                            </li>
                            {% for link in site.links %}
                                <li>
                                    {% if link.external %}
                                        <a href="{{ link.url }}">{{ link.title }}</a>
                                    {% else %}
                                        <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </header>
            <br>
            <article class="notepad-page-content">

                <div class="row">
                    <div class="large-7 small-12 columns">

                        <div class="item-wrapper">
                            <div class="img-wrapper">
                                <a href="#">
                                    <img src="{{site.url}}{{page.imageUrl}}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="large-5 small-12 columns">
                        <hr>
                        <div class="panel">
                            {{ content }}
                        </div>
                    </div>
                </div>

            </article>
            <div class="cf"></div>
            {% include footer.html %}
        </main>
        {% include scripts.html %}
    </body>
</html>
