<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body class="post-template page" itemscope itemtype="http://schema.org/WebPage">
        <main id="notepad-page-container" class="notepad-page-container" role="main">

            <header class="notepad-page-header">
                <div class="notepad-page-menu-header">
                    <a class="notepad-blog-logo" href="{{ site.url }}">
                        <img src="{{ site.url }}/images/{{ site.wlogo }}" alt="Blog Logo">
                    </a>

                    <div class="notepad-blog-menu">
                        <div class="notepad-mobile-menu show-for-small">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <ul class="notepad-menu">
                            <li class="notepad-mobile-close-btn show-for-small text-right">
                                <a href="#">
                                    <i class="fa fa-times"></i>
                                </a>
                            </li>
                            {% for link in site.links %}
                                <li>
                                    {% if link.external %}
                                        <a href="{{ link.url }}">{{ link.title }}</a>
                                    {% else %}
                                        <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="zcontainer">
                    <h2>{{ page.title }}</h2>
                </div>
            </div>
        </header>
        <div class="zcontainer">
            <div class="ui stackable three column grid">
                {% for shopitem in page.shopitems %}
                    <div class="column">
                        <div class="ui segment">
                            <a href="{{site.url}}/item/{{shopitem.url}}">
                                <img class="ui medium image" src="{{site.url}}/images/{{shopitem.image}}"></a>
                            <div class="mini ui horizontal divider">{{shopitem.url}}</div>
                            <p>
                                Biowash T-shirt for men
                            </p>
                            <a href="{{site.url}}/item/{{shopitem.url}}" class="mini ui animated fade secondary button" tabindex="0">
                                <div class="visible content">Soon In stores</div>
                                <div class="hidden content">
                                    ₹799
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="cf"></div>
        <div class="ui horizontal divider"></div>
        {% include footer.html %}
    </main>
    {% include scripts.html %}
    <script>
        $(document).ready(function () {
            $('.special.cards .image').dimmer({on: 'hover'});
            $('.ui.dropdown').dropdown();
        });
    </script>

</body>
</html>
